* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-left: 25%;
    position: absolute;
}

div {
    display: none;
    position: absolute;
    transition: 0.5s;
    
}

section img:hover + div{
    display: block;
    background-color: transparent;
    color: white;
}

