* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div {
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 40px 0 0 40px;
    transition: 0.5s;
}





div:hover {
    transform: rotate(50deg);
    transform-origin: bottom left;
    width: 200px;
    height: 200px;
    
}